################################################################################
## Author: Kho Ho        Last updated: 12/10/2021
## MySQL 5.7 configuration file
################################################################################

[client]
user = root
password = {{ mysql_root_passwd }}
socket = {{ mydb_socket }}
